$back_image:url(../img/header_background_v2.jpg);
$colorblue:#30d5c8;
$colororange:silver;
$whitegrey:	#E0E0E0;
$whitesmoke:#F5F5F5;
$background:#F0F0F0;
$background_article:white;
$background_btn:#002699;
$h1_header: #FF4500;
$text_color_h3:#708090;
$text-color:#808080;
$font:normal 18px"Palatino Linotype", "Book Antiqua";
$font2:normal 26px "Palatino Linotype", "Book Antiqua", Palatino, serif;